@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: $LightGray;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;

  .container {
    display: grid;
    grid-template-columns: auto auto;
    min-width: 630px;
    max-width: 730px;
    border-radius: 10px;
    box-shadow: 7px 15px 15px -8px $GrayishBlue;
    .a {
      grid-area: 1/1/3/3;
      background-color: white;
      padding: 40px;
      border-radius: 10px 10px 0 0;
      h2 {
        color: $Cyan;
        margin-bottom: 20px;
      }
      h3 {
        color: $BrightYellow;
        margin-bottom: 10px;
      }
      h4 {
        color: $GrayishBlue;
        width: 90%;
        font-weight: 400;
      }
    }
    .b {
      background-color: $Cyan;
      color: white;
      padding: 40px;
      border-radius: 0 0 0 10px;
      h3:first-child {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 20px;
      }
      h3:nth-child(2) {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 5px;
        span {
          font-size: 12px;
          display: inline-block;
          font-weight: 400;
          align-items: center;
          color: $LightGray;
          margin-left: 7px;
          transform: translateY(-5px);
        }
      }
      h3:nth-child(3) {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 30px;
      }
      button {
        display: inline-block;
        width: 100%;
        padding: 15px;
        background-color: $BrightYellow;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 7px 20px 15px -15px $GrayishBlue;
      }
    }
    .c {
      background-color: #4abebd;
      color: white;
      padding: 40px;
      border-radius: 0 0 10px 0;
      h3 {
        margin-bottom: 20px;
        font-weight: 400;
      }
      p {
        font-weight: 400;
        color: $LightGray;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    height: 100%;
  }
  main {
    height: 100%;
    width: 80%;
    margin: 20px auto;
    .container {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      max-width: 100%;
      .a {
        h2 {
          font-size: 23px;
        }
        h3 {
          font-size: 16px;
        }
        h4 {
          width: 100%;
          font-size: 11px;
          line-height: 2;
        }
      }
      .b {
        border-radius: 0;
        h3:first-child {
          font-size: 15px;
        }
        h3:nth-child(2) {
          font-size: 22px;
        }
        h3:nth-child(3) {
          font-size: 15px;
        }
        button {
          font-size: 12px;
        }
      }
      .c {
        border-radius: 0 0 10px 10px;
        h3 {
          font-size: 15px;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
}
